* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Darker Grotesque;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    color: white;
    min-height: 100vh;
    padding-top: 2rem;
}

.main {
    flex-grow: 1;
    background-color:#EAECC6;
    padding: 1.5rem;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2BC0E4;
}
.create-assignment-page {
    overflow: hidden;
}

.create-assignment-page {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.create-assignment-page::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
